In [17]:
# Core libraries
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sb

# General utils
from tqdm import tqdm
from os import path

from aicsshparam import shtools
import pyvista as pv

def reconstruct_mesh(coeffs,lmax=5):
    coeffs = coeffs.to_dict()
    coeffs = {'_'.join(k.split('_')[1:3]):v for k,v in coeffs.items()}
    # Convert to matrix
    mat = np.zeros((2, lmax + 1, lmax + 1), dtype=np.float32)
    for L in range(lmax):
        for M in range(L + 1):
            for cid, C in enumerate(["C", "S"]):
                key = f"shcoeffs_L{L}M{M}{C}"
                if key in coeffs.keys():
                    mat[cid, L, M] = coeffs[key]
                else:
                    mat[cid,L,M] = 0
    mesh = shtools.get_even_reconstruction_from_coeffs(mat)
    return mesh

In [31]:
dataset_dir = '/Users/xies/Library/CloudStorage/OneDrive-Stanford/Skin/Mesa et al/Lineage models/Dataset pickles'
figure_dir = '/Users/xies/Library/CloudStorage/OneDrive-Stanford/Skin/Mesa et al/Lineage models/Random_forest_birth'
all_df = pd.read_pickle(path.join(dataset_dir,f'all_df.pkl'))
basals = pd.read_pickle(path.join(dataset_dir,f'basals.pkl'))

# Load the raw coeffs
dirnames = {'R1':'/Users/xies/OneDrive - Stanford/Skin/Mesa et al/W-R1/',
            'R2':'/Users/xies/OneDrive - Stanford/Skin/Mesa et al/W-R2/'}
regions = {name:pd.read_csv(path.join(dirname,'Mastodon/single_timepoints.csv')) for name,dirname in dirnames.items()}

cyto_coef_cols = [f for f in regions['R1'].columns if 'cyto_shcoeffs' in f and 'surface' not in f]
nuc_coef_cols = [f for f in regions['R1'].columns if 'nuc_shcoeffs' in f and 'surface' not in f]

coefs_raw = []
for name,region in regions.items():
    _cyto = region[cyto_coef_cols].copy()
    _cyto['Frame'] = region['Frame']
    _cyto['TrackID'] = name + '_' + region['TrackID'].astype(str)

    _nuc = region[nuc_coef_cols]
    _nuc['Frame'] = region['Frame']
    _nuc['TrackID'] = name + '_' + region['TrackID'].astype(str)
    
    coefs_raw.append(pd.merge(_cyto,_nuc, how='outer',left_on = ['Frame','TrackID'],right_on=['Frame','TrackID']))

coefs_raw = pd.concat(coefs_raw).set_index(['Frame','TrackID'],drop=True)

/var/folders/zp/5k1kvm9j0t19cvq8h628kr8h0000gn/T/ipykernel_94492/852862690.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _nuc['Frame'] = region['Frame']
/var/folders/zp/5k1kvm9j0t19cvq8h628kr8h0000gn/T/ipykernel_94492/852862690.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _nuc['TrackID'] = name + '_' + region['TrackID'].astype(str)
/var/folders/zp/5k1kvm9j0t19cvq8h628kr8h0000gn/T/ipykernel_94492/852862690.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _nuc['Frame'] = region['Frame']
/var/folders/zp/5k1kvm9j0t19cvq8h628kr8h0000gn/T/ipykernel_94492/852862690.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _nuc['TrackID'] = name + '_' + region['TrackID'].astype(str)

# Visualize the PCAs

In [43]:
def plot_cells_side_by_side(cells):
    num_cells = len(cells)
    if num_cells > 5:
        error
    pl = pv.Plotter(shape=(1,num_cells))
    
    for i in range(num_cells):
        pl.subplot(0,i)
        pl.add_mesh(pv.wrap(cells[i]['nuc']),color='r', opacity=0.5)
        pl.add_mesh(pv.wrap(cells[i]['cyto']),color='b', opacity=0.4)
        pl.add_axes()
    pl.link_views()
    pl.view_isometric()
    pl.show()

def reconstruct_mesh_from_averaged_coeffs_(index,coeffs,cyto_col,nuc_col):
    mean_coeffs = coeffs.loc[index].mean()
    mean_cyto = mean_coeffs[cyto_col]
    mean_nuc = mean_coeffs[nuc_col]

    avg_cell = {'cyto':reconstruct_mesh(mean_cyto)[0],
                'nuc':reconstruct_mesh(mean_nuc)[0],
               }
    return avg_cell

def get_sorted_cell_indexes(df,feature):
    return df.droplevel(axis=1,level=1).sort_values(feature).index

In [47]:
## Get top/bottom by feature
feature = 'nuc_shcoeff_PC0'
high = reconstruct_mesh_from_averaged_coeffs_(get_sorted_cell_indexes(basals,feature)[-10:],
                                   coefs_raw, cyto_coef_cols, nuc_coef_cols)
low = reconstruct_mesh_from_averaged_coeffs_(get_sorted_cell_indexes(basals,feature)[:10],
                                   coefs_raw, cyto_coef_cols, nuc_coef_cols)

feature = 'nuc_shcoeff_PC9'
high2 = reconstruct_mesh_from_averaged_coeffs_(get_sorted_cell_indexes(basals,feature)[-10:],
                                   coefs_raw, cyto_coef_cols, nuc_coef_cols)
low2 = reconstruct_mesh_from_averaged_coeffs_(get_sorted_cell_indexes(basals,feature)[:10],
                                   coefs_raw, cyto_coef_cols, nuc_coef_cols)

plot_cells_side_by_side([high,low,high2,low2])

Widget(value='<iframe src="http://localhost:60299/index.html?ui=P_0x30e107620_18&reconnect=auto" class="pyvist…

In [51]:
basals.loc[get_sorted_cell_indexes(basals,'nuc_shcoeff_PC0')[0:10]]

Name          Nuclear volume Nuclear solidity           Z           Y  \
Metadata         Measurement      Measurement Measurement Measurement
Frame TrackID
13    R1_309        149.1875         0.830550   52.605362   54.251780
14    R1_272        146.8750         0.885456   47.139149   22.316915
13    R1_852        134.0000         0.870130   50.958022   34.972132
12    R1_791        130.6875         0.836735   53.728360   91.335485
11    R1_669        168.2500         0.881178   51.237741   14.479662
13    R1_863        130.5625         0.818574   52.614648   47.616084
2     R2_774        159.8125         0.888773   55.943684   50.710207
13    R1_304        136.0000         0.840479   49.739430   50.338810
      R1_857        143.3750         0.900667   51.541412   38.227550
3     R2_665        114.1250         0.853271   57.471522   86.226177

Name                    X Nuclear height Cell volume      Z-cyto      Y-cyto  \
Metadata      Measurement    Measurement Measurement Measurement Measurement
Frame TrackID
13    R1_309    89.913699           -9.0    389.3750   52.654575   54.406621
14    R1_272    83.685426          -10.0    442.5625   47.563762   22.208163
13    R1_852    10.470849          -10.0    363.3750   50.856209   35.136266
12    R1_791    85.367288           -9.0    415.0000   53.286295   91.563893
11    R1_669    55.968889          -11.0    439.3125   51.076825   14.386897
13    R1_863    35.544639          -11.0    401.4375   51.852872   47.912502
2     R2_774    89.012124          -11.0    345.1875   55.850081   50.771456
13    R1_304    83.612477          -10.0    446.9375   49.369319   50.645469
      R1_857     6.255885          -11.0    403.9375   51.457218   38.272706
3     R2_665    86.624042           -8.0    277.7500   57.446670   86.245218

Name               X-cyto  ...  \
Metadata      Measurement  ...
Frame TrackID              ...
13    R1_309    89.735594  ...
14    R1_272    83.728922  ...
13    R1_852    10.579076  ...
12    R1_791    85.631739  ...
11    R1_669    55.851188  ...
13    R1_863    35.540908  ...
2     R2_774    89.176308  ...
13    R1_304    83.552860  ...
      R1_857     6.258510  ...
3     R2_665    86.617180  ...

Name          Diff from Min adjac nuc_shcoeff_PC6 at 1 frame prior  \
Metadata                                               Measurement
Frame TrackID
13    R1_309                                            0.697096
14    R1_272                                            1.513620
13    R1_852                                           -3.042970
12    R1_791                                            0.436129
11    R1_669                                            0.648609
13    R1_863                                           -1.714572
2     R2_774                                           -0.715758
13    R1_304                                            2.434199
      R1_857                                           -1.418682
3     R2_665                                           -1.198047

Name          Num neighbor division 1 frame prior  \
Metadata                              Measurement
Frame TrackID
13    R1_309                                  0.0
14    R1_272                                  0.0
13    R1_852                                  0.0
12    R1_791                                  0.0
11    R1_669                                  6.0
13    R1_863                                  0.0
2     R2_774                                  1.0
13    R1_304                                  0.0
      R1_857                                  0.0
3     R2_665                                  0.0

Name          Num neighbor delamination 1 frame prior  \
Metadata                                  Measurement
Frame TrackID
13    R1_309                                      2.0
14    R1_272                                      0.0
13    R1_852                                      0.0
12    R1_791                                      1.0
11    R1_669                                      1.0
13    R1_863                                      0.0
2     R2_774                                      0.0
13    R1_304                                      2.0
      R1_857                                      0.0
3     R2_665                                      0.0

Name          Num daughter differentiated  \
Metadata                             Meta
Frame TrackID
13    R1_309                          NaN
14    R1_272                          NaN
13    R1_852                          NaN
12    R1_791                          NaN
11    R1_669                          NaN
13    R1_863                          NaN
2     R2_774                          NaN
13    R1_304                          NaN
      R1_857                          NaN
3     R2_665                          NaN

Name          At least one daughter differentiated  \
Metadata                                      Meta
Frame TrackID
13    R1_309                                   NaN
14    R1_272                                   NaN
13    R1_852                                   NaN
12    R1_791                                   NaN
11    R1_669                                   NaN
13    R1_863                                   NaN
2     R2_774                                   NaN
13    R1_304                                   NaN
      R1_857                                   NaN
3     R2_665                                   NaN

Name          Both daughters differentiated Region Cell cycle duration  \
Metadata                               Meta                Measurement
Frame TrackID
13    R1_309                            NaN     R1                 NaN
14    R1_272                            NaN     R1                 NaN
13    R1_852                            NaN     R1                 NaN
12    R1_791                            NaN     R1                 NaN
11    R1_669                            NaN     R1                 NaN
13    R1_863                            NaN     R1                 NaN
2     R2_774                            NaN     R2                 NaN
13    R1_304                            NaN     R1                 NaN
      R1_857                            NaN     R1                 NaN
3     R2_665                            NaN     R2                 NaN

Name          G1 duration SG2 duration
Metadata      Measurement  Measurement
Frame TrackID
13    R1_309          NaN          NaN
14    R1_272          NaN          NaN
13    R1_852          NaN          NaN
12    R1_791          NaN          NaN
11    R1_669         60.0          NaN
13    R1_863          NaN          NaN
2     R2_774          NaN          NaN
13    R1_304          NaN          NaN
      R1_857          NaN          NaN
3     R2_665          NaN          NaN

[10 rows x 1083 columns]

In [53]:
basals

Metadata       Measurement
Frame TrackID
0     R1_2        1.982310
      R1_5       -1.557531
      R1_11       1.795796
      R1_19       3.913186
      R1_24      -0.146453
...                    ...
14    R2_1134          NaN
      R2_1144          NaN
      R2_1149          NaN
      R2_1155          NaN
      R2_1156          NaN

[8216 rows x 1 columns]